appdirs==1.4.3
asn1crypto==0.24.0
authy==2.2.6
autopep8==1.6.0
beautifulsoup4==4.6.0
boto==2.47.0
cachetools==2.0.1
certifi==2017.4.17
cffi==1.12.2
chardet==3.0.4
cryptography==3.2.1
cssutils==1.0.2
dill==0.2.7.1
dj-database-url==0.5.0
Django @ file:///C:/Users/AAA/Downloads/Django-2.2.8-py3-none-any.whl
firebase-admin==2.8.0
flake8==4.0.1
future==0.16.0
google-api-core==0.1.4
google-api-python-client==1.6.2
google-auth==1.2.1
google-cloud-core==0.28.0
google-cloud-firestore==0.28.0
google-cloud-storage==1.7.0
google-gax==0.15.16
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grpcio==1.33.2
gspread==0.6.2
gunicorn==20.0.0
html2text==2016.9.19
httplib2==0.10.3
idna==2.5
importlib-metadata==4.2.0
mccabe==0.6.1
newrelic==5.4.0.132
oauth2client==4.1.2
olefile==0.44
packaging==16.8
paypalrestsdk==1.13.1
Pillow==6.2.2
ply==3.8
protobuf==3.5.1
psycopg2==2.8.5
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycodestyle==2.8.0
pycparser==2.19
pyflakes==2.4.0
PyJWT==2.3.0
pynliner==0.8.0
pyOpenSSL==19.0.0
pyparsing==2.2.0
pyreadline==2.1
PySocks==1.7.1
python-binary-memcached==0.26.1
python-http-client==2.4.0
pytz==2018.3
requests==2.18.4
rsa==3.4.2
sendgrid==4.2.0
sentry-sdk==0.19.5
six==1.10.0
sqlparse==0.4.2
stripe==1.62.0
tinys3==0.1.12
toml==0.10.2
twilio==6.0.0
typing_extensions==4.2.0
uritemplate==3.0.0
urllib3==1.21.1
whitenoise==3.2
zipp==3.8.0
